.carousel-item img{
    height: 40rem;
    object-fit:cover;
}
.card > img{
    width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center;
}
.paquetes{
    margin: 2rem 0;
    padding: 2rem 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}
.paquetes img{
    width: 100%;
    height:20rem;
    object-fit: cover;
    border-radius: 0.5rem;
}
.paquetes-de-viaje{
    min-width:40vw;
}
.paquetes-de-viaje a{
    display: block;
    position: relative;
    /* right: 1rem; */
}
.pack-desktop-text{
    display: none;
}
/* nosotros */
.nosotros-img{
    width: 100%;
    height:20rem;
    object-fit: cover;
}
.map iframe{
    width: 20rem;
    height: 20rem;
    border-radius: 0.5rem;
}
.map-iframe{
    margin-top: 2rem;
    padding: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.map-iframe img{
    width:100%;
    height: 30rem;
    object-fit: cover;
    position: absolute;
    z-index: -5;
    display: block;
    border-radius: 0.5rem;
    filter: blur(1px);
}
/* paquetes */
.img-header{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../assets/paquetes.jpg');
    background-size:cover;
    background-position:bottom;
    background-repeat: no-repeat;
}
.price{

    width: 80%;
    flex-flow: row wrap;
    text-align: center;
    /* align-items: center; */
}
.price p{
    margin: 0 auto;
}

@media (min-width: 720px){
    .paquetes img{
        margin-bottom: 1rem;
    }
    .paquetes{
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    .paquetes-de-viaje{
        max-width:40vw;
    }
    .pack-desktop-text{
        display: block;
    }
    .price{
        /* flex-flow: column nowrap; */
        /* align-items: center;
        justify-content: center; */
        display: gird;
        /* place-items: center; */
    }
    /* formulario */
    .contacto{
        max-width: 40%;
    }
    /* nosotros */

   
}